.CvHome {
  padding: 6rem 5rem;
  background: url("../../images/Credit-analis.jpg") no-repeat center;
  background-size: cover;
  &__title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    h3 {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__detail {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
  }
  &__button {
    .btnCV {
      outline: none;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 5px;
      font-weight: 400;
      color: white;
      transition: 0.5s;
      box-sizing: border-box;
    }

    .createCv {
      margin-right: 2rem;
      background-color: #ff4848;
      border: 2px solid #ff4848;
      &:hover {
        background-color: #f83333;
        border-color: #f83333;
      }
    }
    .searchCv {
      background-color: transparent;
      box-sizing: content-box;
      border: 2px solid white;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
@media (max-width: 576px) {
  .CvHome {
    padding: 6rem 3rem;
    &__button {
      text-align: center;
      .createCv {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}
